@import style

wallcolor   = #dc006b
netcolor    = #dc006b
paddlecolor = #F7F7F4
ballcolor   = #C30000

courtwidth   = 1280px
courtheight  = 720px

body
	background-color black

#court
	position absolute
	top 0px
	left 0px
	z-index 33
	width courtwidth
	height courtheight
	border-top 12px solid wallcolor
	border-bottom 12px solid wallcolor


#court:before
	position absolute
	left 50%
	top 0px
	content ''
	width 0px
	height 100%
	border-left 12px solid netcolor
	margin-left -6px // half the border size

#paddle1, #paddle2
	position absolute
	top 0px
	left 0px // will be translated by script
	width 30px
	height 200px
	margin-top -12px // wall size
	background-color paddlecolor
	z-index 99


#ball
	position absolute
	background-color ballcolor
	width 25px
	height 25px
	border-radius 50%






