@import style

wallcolor   = #dc006b
netcolor    = #dc006b
paddlecolor = #F7F7F4
ballcolor   = #F7F7F4

courtwidth   = 1280px
courtheight  = 720px

body
	background-color black
	overflow hidden

#court
	position absolute
	top 0px
	left 0px
	z-index 33
	width courtwidth
	height courtheight
	border-top 12px solid wallcolor
	border-bottom 12px solid wallcolor


#court:before
	position absolute
	left 50%
	top 0px
	content ''
	width 0px
	height 100%
	border-left 12px solid netcolor
	margin-left -6px // half the border size

#paddle0, #paddle1
	position absolute
	top 0px
	left 0px // will be translated by script
	width 30px
	height 200px
	margin-top -12px // wall size
	background-color paddlecolor
	z-index 99

#score0, #score1
	font-size 60px
	position absolute
	top 0px
#score0
	right 50%
	text-align right
	margin-right 20px
#score1
	left 50%
	text-align left
	margin-left 20px

#winner0, #winner1
	font-size 60px
	position absolute
	top 30%
	display none
#winner0
	right 50%
	text-align right
	margin-right 240px
#winner1
	left 50%
	text-align left
	margin-left 240px



#ball
	position absolute
	background-color ballcolor
	width 25px
	height 25px
	border-radius 50%


#horizontal
	position absolute
	height 100%
	top 0px
	left 0px
	-webkit-animation updown 4s infinite linear


.ball
	position absolute
	top 0px
	left 0px
	background-color ballcolor
	width 25px
	height 25px
	border-radius 50%
	-webkit-animation leftright 4s infinite linear

/* ------ animations ------- */
@-webkit-keyframes leftright {
  0%,100% {
    -webkit-transform: translate3d(0px, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(1255px, 0, 0);
  }
}

@-webkit-keyframes updown {
  0%, 50%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(0, 670px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 100px, 0);
  }
}







