@import style


.container
	padding 10px

	video
		width 640px
		height 480px

	video.fakefullscreen
		position fixed
		width 100%
		height 100%
		left 0px
		top 0px
		z-index 0

.testimage
	z-index 99
	position fixed
	width 50%
	left 0px
	top 0px
